In [15]:
# Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. 
# Then, print the series.

import pandas as pd
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [16]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.
#     Series function on the variable print it.
import pandas as pd
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(my_list)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [17]:
# Q3. Create a Pandas DataFrame that contains the following data:
import pandas as pd

data = [["Alice", 25, "Female"], ["Bob", 30, "Male"], ["Claire", 27, "Female"]]
columns = ["Name", "Age", "Gender"]

Dframe = pd.DataFrame(data, columns=columns)

print(Dframe)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [18]:
Dframe

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [19]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? 
# Explain with an example.

"""
Series:
        A Series is a one-dimensional labeled array capable of holding any data type 
        (integers, strings, floating point numbers, Python objects, etc.). 
        It is analogous to a column in a spreadsheet.
        Series is a one-dimensional labeled array and can only hold a single list, dict, or 
        DataFrame column.
        
        
DataFrame: 
        A DataFrame is a two-dimensional labeled data structure with columns of potentially 
        different types. It is similar to a spreadsheet or SQL table, or a dictionary of Series 
        objects.
        DataFrame is a two-dimensional labeled data structure where data is aligned in a 
        tabular fashion in rows and columns.
"""

'\nSeries:\n        A Series is a one-dimensional labeled array capable of holding any data type \n        (integers, strings, floating point numbers, Python objects, etc.). \n        It is analogous to a column in a spreadsheet.\n        Series is a one-dimensional labeled array and can only hold a single list, dict, or \n        DataFrame column.\n        \n        \nDataFrame: \n        A DataFrame is a two-dimensional labeled data structure with columns of potentially \n        different types. It is similar to a spreadsheet or SQL table, or a dictionary of Series \n        objects.\n        DataFrame is a two-dimensional labeled data structure where data is aligned in a \n        tabular fashion in rows and columns.\n'

In [30]:
# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
#     you give an example of when you might use one of these functions?

# 1) 
# head() and tail(): These functions display the first or last n rows of the DataFrame
print("Head")
print(Dframe.head(2))  # Prints the first 2 rows
print("Tail")
print(Dframe.tail(2))  # Prints the last 2 rows

# 2)
# describe(): This function provides a statistical summary of the DataFrame,
# which is beneficial for understanding the data's overall distribution.
print(Dframe.describe())


# 3)
# sort_values(): This function sorts a DataFrame by one or more columns.
print(Dframe.sort_values('Age'))  # Sorts the DataFrame by the 'Age' column


# 4) 
"""
loc[] and iloc[]: These functions select data by label (loc) or by position (iloc), 
which is useful when you need to filter or subset the data.
"""
print(Dframe.loc[Dframe['Age'] > 25] )


# 5)
"""
groupby(): This function groups the DataFrame by one or more columns, 
allowing aggregation functions to be applied to each group.
"""
try:
    print(print(Dframe.groupby('Gender').mean(numeric_only=True)))
except:
    pass

# 6) 
"""
apply() and applymap(): These functions apply a function to a DataFrame or Series, respectively.
They are useful for complex data transformations.
"""
Dframe['Age'] = Dframe['Age'].apply(lambda x: x + 1)


# 7) 
"""drop() and dropna(): These functions remove rows or columns (drop) or rows with missing values 
(dropna), respectively"""
Dframe.drop('Gender', axis=1)  # Drops the 'Gender' column

Head
    Name  Age  Gender
0  Alice   29  Female
1    Bob   34    Male
Tail
     Name  Age  Gender
1     Bob   34    Male
2  Claire   31  Female
             Age
count   3.000000
mean   31.333333
std     2.516611
min    29.000000
25%    30.000000
50%    31.000000
75%    32.500000
max    34.000000
     Name  Age  Gender
0   Alice   29  Female
2  Claire   31  Female
1     Bob   34    Male
     Name  Age  Gender
0   Alice   29  Female
1     Bob   34    Male
2  Claire   31  Female
         Age
Gender
Female  30.0
Male    34.0
None

     Name  Age
0   Alice   30
1     Bob   35
2  Claire   32

In [1]:
# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
"""
All three of these Pandas data structures - Series, DataFrame, and Panel - are mutable in nature. 
This means you can modify them after they have been created.
"""
# Series: You can change the value of elements, add new elements, or delete elements in a Series.
import pandas as pd
s = pd.Series([1, 2, 3])
print(s)
s[0] = 10
print(s)

# DataFrame: You can change the value of elements,add new columns, delete columns in a DataFrame
df = pd.DataFrame({"A": [1, 2], "B": [3, 4]})
print(df)
df.at[0, 'A'] = 10
print(df)


"""
A Panel is a three-dimensional data structure in pandas, which is used to handle 3D data. 
The term Panel comes from econometrics and is partially responsible for the name pandas: 
"""



import pandas as pd
import numpy as np

data = np.random.rand(2, 4, 5)
p = pd.Panel(data)

print("Original Panel:")
print(p)

p[0][0][0] = 999

print("Modified Panel:")
print(p)

0    1
1    2
2    3
dtype: int64
0    10
1     2
2     3
dtype: int64
   A  B
0  1  3
1  2  4
    A  B
0  10  3
1   2  4

AttributeError: module 'pandas' has no attribute 'Panel'

In [ ]:
# Q7 Create a DataFrame using multiple Series. Explain with an example.
# Define some Series
series1 = pd.Series([1, 2, 3], name="A")
series2 = pd.Series([4, 5, 6], name="B")
series3 = pd.Series([7, 8, 9], name="C")

# Create a DataFrame from the Series
df = pd.concat([series1, series2, series3], axis=1)

print(df)