In [1]:
# Consider following code to answer further questions:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [2]:
# Q1. Write a code to print the data present in the second row of the dataframe, df.
print(df.iloc[1])

course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [4]:
# Q2. What is the difference between the functions loc and iloc in pandas.DataFrame?
"""
In pandas, loc and iloc are used for indexing and selecting data from a DataFrame, 
but they work in different ways:

loc is a label-based data selection method which means that we have to pass the name of the row 
or column which we want to select. 
This method includes the last element of the range. 
So, df.loc[a:b] will select elements from 'a' to 'b' including both 'a' and 'b'.
Moreover, with loc, we can select or index rows based on particular labels from the index.


iloc is an integer index-based method which means that we have to pass integer index 
in the method to select specific row/column. This method does not include the last element 
of the range unlike loc. So df.iloc[a:b] will select elements from index 'a' to 'b-1'.
"""
# Selecting data using loc
print("Selecting using loc:")
print(df.loc[1])

# Selecting data using iloc
print("\nSelecting using iloc:")
print(df.iloc[1])

Selecting using loc:
A    2
B    b
Name: 1, dtype: object

Selecting using iloc:
A    2
B    b
Name: 1, dtype: object

In [7]:
"""
Q3. Reindex the given dataframe using a variable, reindex = [3,0,1,2] and store it in the variable,
new_df then find the output for both new_df.loc[2] and new_df.iloc[2].
Did you observe any difference in both the outputs? If so then explain it.
"""

reindex = [3,0,1,2]
new_df = df.reindex(reindex)
print("new_df.loc[2]:")
print(new_df.loc[2])

print("\nnew_df.iloc[2]:")
print(new_df.iloc[2])
"""
df.loc[] returns a row based on the index label, while df.iloc[] returns a row based on the
position in the DataFrame, regardless of the index label. So, even though the row labels may
have been changed with reindexing, iloc still refers to the actual positional index.
"""

new_df.loc[2]:
A    3
B    c
Name: 2, dtype: object

new_df.iloc[2]:
A    2
B    b
Name: 1, dtype: object

'\ndf.loc[] returns a row based on the index label, while df.iloc[] returns a row based on the\nposition in the DataFrame, regardless of the index label. So, even though the row labels may\nhave been changed with reindexing, iloc still refers to the actual positional index.\n'

In [13]:
# Consider the below code to answer further questions:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

"""
Q4. Write a code to find the following statistical measurements for the above dataframe df1:
"""
print("mean of each and every column present in the dataframe")
mean = df1.mean()
print(mean)
# (ii) standard deviation of column, ‘column_2’
print('standard deviation of column, ‘column_2’')
std_dev = df1['column_2'].std()
print(std_dev)

mean of each and every column present in the dataframe
column_1    0.397389
column_2    0.465197
column_3    0.498760
column_4    0.639423
column_5    0.489583
column_6    0.448529
dtype: float64
standard deviation of column, ‘column_2’
0.3431263024886867

In [16]:
"""
Q5. Replace the data present in the second row of column, ‘column_2’ by a string variable then
find the mean of column, column_2.
If you are getting errors in executing it then explain why.
"""
df1.loc[2, 'column_2'] = 'a string'
try:
    mean_column_2 = df1['column_2'].mean()
    print(mean_column_2)
except Exception as e:
    print("Error:", e)
"""In this case, an error would be thrown because 'column_2' now contains a mixture of numeric 
and non-numeric data (since we added a string to it). You can't calculate the mean of a series 
of data that isn't entirely numeric"""

Error: unsupported operand type(s) for +: 'float' and 'str'

"In this case, an error would be thrown because 'column_2' now contains a mixture of numeric \nand non-numeric data (since we added a string to it). You can't calculate the mean of a series \nof data that isn't entirely numeric"

In [19]:
# Q6. What do you understand about the windows function in pandas and list the types of windows
#     functions?
"""
In pandas, window functions are a family of functions used for data aggregation. 
They perform a calculation over a set of rows (a "window") that are somehow related to the 
current row. This is comparable to the kind of calculation made by an aggregate function. 
But unlike regular aggregate functions, use of a window function does not cause rows to 
become grouped into a single output row — the rows retain their separate identities.


    1) Rolling Window: Provides rolling window calculations. The number of periods in the window 
                       is specified.
    Expanding Window: Provides expanding transformations, where the size of the window increases 
                      as it goes down the rows.
    Exponentially Weighted Window: Provides exponentially weighted windows, where the weights 
                                   decrease exponentially.
"""
import pandas as pd
df4=pd.DataFrame({'a':[3,4,5,2,1,3,4,5,6]})
print(df4)
# WIndowing function 
# Ask for 3 data ahbove it 
df4['a'].rolling(window=3).mean()

   a
0  3
1  4
2  5
3  2
4  1
5  3
6  4
7  5
8  6

0         NaN
1         NaN
2    4.000000
3    3.666667
4    2.666667
5    2.000000
6    2.666667
7    4.000000
8    5.000000
Name: a, dtype: float64

In [20]:
# Q7. Write a code to print only the current month and year at the time of answering this question.
# [Hint: Use pandas.datetime function]
import pandas as pd
current_time = pd.to_datetime('now')
print("Current Month: ", current_time.month)
print("Current Year: ", current_time.year)

Current Month:  6
Current Year:  2023

/tmp/ipykernel_1890/3651466088.py:4: FutureWarning: The parsing of 'now' in pd.to_datetime without `utc=True` is deprecated. In a future version, this will match Timestamp('now') and Timestamp.now()
  current_time = pd.to_datetime('now')

In [ ]:
"""
Q8. Write a Python program that takes in two dates as input (in the format YYYY-MM-DD) and
calculates the difference between them in days, hours, and minutes using Pandas time delta. The
program should prompt the user to enter the dates and display the result.
"""

import pandas as pd

date1 = input("Enter the first date in YYYY-MM-DD format: ")
date2 = input("Enter the second date in YYYY-MM-DD format: ")

date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)

delta = date2 - date1

print("Difference in days: ", delta.days)
print("Difference in hours: ", delta.total_seconds()//3600)
print("Difference in minutes: ", delta.total_seconds()//60)