In [1]:
# In Python list is not homogenous 
#To see list of all function Shift + Tab
l=[1,2,3,4+7j,"Sujeet",3.46]

In [2]:
type(l)

list

In [3]:
#You can use indexing even on LIST
l[0]

1

In [4]:
# When you try to acess an element which is beyond the scope of list
l[90]

IndexError: list index out of range

In [ ]:
var=l[0:3] #Data upto n-1th element

In [ ]:
print(var)

In [ ]:
#Reverse Indexing
l[-1]

In [ ]:
# Reversing a list
l[::-1]

In [ ]:
# Even Index 
l[::2]

In [5]:
#When you pass list as a function
#It breaks into small characters and then store it in the list 
string="Sujeet"
list(string)

['S', 'u', 'j', 'e', 'e', 't']

In [6]:
# You will get an error when you try to merge string and list 
# Different data type

l=l+string

TypeError: can only concatenate list (not "str") to list

In [7]:
# This is possible but note that this is not same
l=l+list(string)
print(l)

[1, 2, 3, (4+7j), 'Sujeet', 3.46, 'S', 'u', 'j', 'e', 'e', 't']

In [8]:
# Can you just remove su from sujeet
l[4][0:2]

'Su'

In [9]:
l=[1,2,3,True]
l[3]

True

In [10]:
# You cannot remove Tru from True, 
#To do that you need to do type casting

str(l[3])[0:3]

'Tru'

In [11]:
l1=["Mumbai", "Chennai", "Delhi"]
l2=["Rohit","Dhoni","Pant"]
l3=l1+l2
l3

['Mumbai', 'Chennai', 'Delhi', 'Rohit', 'Dhoni', 'Pant']

In [12]:
# Repeat the elements just like string 
l3=l3*3

In [13]:
#Find number of elements 
len(l3)

18

In [14]:
# To add a new element to the end of the list 
#Nested list
l3.append("This is how append works")
l3

['Mumbai',
 'Chennai',
 'Delhi',
 'Rohit',
 'Dhoni',
 'Pant',
 'Mumbai',
 'Chennai',
 'Delhi',
 'Rohit',
 'Dhoni',
 'Pant',
 'Mumbai',
 'Chennai',
 'Delhi',
 'Rohit',
 'Dhoni',
 'Pant',
 'This is how append works']

In [15]:
# You can append a list to a tist 
list2=[1,2,3,4,5,6,7,8,9]

In [16]:
l3.append(list2)
l3

['Mumbai',
 'Chennai',
 'Delhi',
 'Rohit',
 'Dhoni',
 'Pant',
 'Mumbai',
 'Chennai',
 'Delhi',
 'Rohit',
 'Dhoni',
 'Pant',
 'Mumbai',
 'Chennai',
 'Delhi',
 'Rohit',
 'Dhoni',
 'Pant',
 'This is how append works',
 [1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [17]:
l3.append(5)

In [18]:
#Use nested list 
#Take 4 
l3[-1][3]

TypeError: 'int' object is not subscriptable

In [ ]:
l4=[1,2,3,4,5,6]

In [19]:
l4.extend("Sujeet")

NameError: name 'l4' is not defined

In [20]:
l4

NameError: name 'l4' is not defined

In [21]:
#Break and append
l4.extend([10,20,30,40])
l4

NameError: name 'l4' is not defined

In [22]:
# Add data on a given position 
list1=[1,2,3,4,5,6,8,9]
list1.insert(1,"Sujeet")
list1

[1, 'Sujeet', 2, 3, 4, 5, 6, 8, 9]

In [23]:
# Add the data on that index and then adjust the rest 
list1.insert(-1,0)
list1

[1, 'Sujeet', 2, 3, 4, 5, 6, 8, 0, 9]

In [24]:
# Remove the last index
list1.pop()

9

In [25]:
list1

[1, 'Sujeet', 2, 3, 4, 5, 6, 8, 0]

In [26]:
# Remove the 3rd Index
# in Pop you were passing index
list1.pop(3)

3

In [27]:
list1

[1, 'Sujeet', 2, 4, 5, 6, 8, 0]

In [28]:
# Pop uses Index 
# Remove uses elemts 
list1.remove(0)

In [29]:
list1

[1, 'Sujeet', 2, 4, 5, 6, 8]

In [30]:
# If you try to remove something that is not in the list 
list1.remove(99)

ValueError: list.remove(x): x not in list

In [31]:
# Remove something from a nested list
l=[1,2,3]
l.append([10,20])

In [32]:
l

[1, 2, 3, [10, 20]]

In [33]:
l[3].remove(10)
l[3]

[20]

In [34]:
l

[1, 2, 3, [20]]

In [35]:
# Remove will only remove the first occurence of the value 
l=[1,1,2,3,4,5,6]
l.remove(1)
l

[1, 2, 3, 4, 5, 6]

In [41]:
# Permanent reverse
l.reverse()
l

# Only show reverse dont change it
l[::-1]

# Make it permanent 
l=l[::-1]

In [44]:
# Make sure the data in the list is homogenous 
l.sort()
l

[1, 2, 3, 4, 5, 6]

In [46]:
l=[[1,2,4],[0,0,0,3],[33]]
l.sort()
l

[[0, 0, 0, 3], [1, 2, 4], [33]]

In [47]:
#Index of the first occurence
l=[1,1,1,2,3,4,5,6,7,8,9]
l.index(4)

5

In [51]:
#Total number of times that ___ was present in the given list 
l.count(1)

3

In [52]:
# String is not mutable 
s="Sujeet"
s[0]="E"

TypeError: 'str' object does not support item assignment

In [54]:
#List object supports mutabaility 
l=[1,2,3,4,5,6,7,8,9]
l[0]=0
l

[0, 2, 3, 4, 5, 6, 7, 8, 9]

In [55]:
l=[[0,0],[1,2,4,5]]
l[0][0]=100
l

[[100, 0], [1, 2, 4, 5]]

In [56]:
string1="Sujeet"
string1.replace('S','A')

'Aujeet'

In [57]:
string1

'Sujeet'

In [58]:
# It pretends toi show that it has chanaged but a copy is created in a new location,
# So if you truly wants to change then assign it again