In [5]:
# Touple is something similar to list 
# The only difference is that not mutable
t=(1,2,3,4,5,"Sujeet")
t

(1, 2, 3, 4, 5, 'Sujeet')

In [6]:
print(len(t))
type(t)

6

tuple

In [8]:
t[0:1:1]

(1,)

In [9]:
# Non Mutable
# Use this when we want to save data that no one else should change 
t[0]=100

TypeError: 'tuple' object does not support item assignment

In [11]:
# touple doest have rev, replace, extend

In [13]:
s1={}
type(s1)

dict

In [15]:
s1={1,2,3,4,2}
s1

{1, 2, 3, 4}

In [17]:
s1.add(5)
s1

{1, 2, 3, 4, 5}

In [18]:
# Set will not arrange the record in accending order

In [20]:
# Set doesnt perform, slicing, indexing 
s1[0]

TypeError: 'set' object is not subscriptable