In [3]:
l= [1,2,3,4,5,6,7,8,9]
for i in l:
    print(str(type(i))+' '+ str(i))

<class 'int'> 1
<class 'int'> 2
<class 'int'> 3
<class 'int'> 4
<class 'int'> 5
<class 'int'> 6
<class 'int'> 7
<class 'int'> 8
<class 'int'> 9

In [6]:
# For Else 
# The Else part is only executed only when the execution of the for loop has been completed succesfully 
# That means that the loop is not terminated in between 

for i in l:
    print(i)
    
else:
    print ("This is else \nThe loop has ended sucessfully ")

1
2
3
4
5
6
7
8
9
This is else
The loop has ended sucessfully

In [10]:
# In this case the else is not executed 
l=["Sujeet", "Sanjay","Amberkar"]
for i in l:
    if i == "Sanjay":
        break
    print(i)
else:
    print("This is else")

Sujeet

In [13]:
# In this case the else is  executed 
l=["Sujeet", "Sanjay","Amberkar"]
for i in l:
    if i == "Sanjay":
        continue # Skip this execution # NEXT
    print(i)
else:
    print("This is else")

Sujeet
Amberkar
This is else

In [15]:
# Range function will generate data from 0 to n-1 
# Exculding n

list(range(5))

[0, 1, 2, 3, 4]

In [17]:
# Generating data from 0 to 5 such that the jump is 2.
# The lower limit is 0 and upper limit excluding 5 Jump constant is 2
list(range(0,5,2))

[0, 2, 4]

In [27]:
l=["Sujeet", "Sanjay","Amberkar"]
for i in reversed(range(len(l))):
    print(l[i])
    
l=["Sujeet", "Sanjay","Amberkar"]
for i in range(len(l)-1,-1,-1):
    print(l[i])

Amberkar
Sanjay
Sujeet
Amberkar
Sanjay
Sujeet

In [26]:
#By default the jump value in range is 1 
print(list(range(4,0)))
print(list(range(4,0,-1)))

[]
[4, 3, 2, 1]

In [29]:
# Take data is available only on the even index
l=[1,2,3,4,5,6,7,8,9]
for i in range(0,len(l),2):
    print(l[i])

1
3
5
7
9

In [30]:
# Sum of list
sum =0
for i in l:
    sum=sum+i
sum

45

In [31]:
l=(1,2,3,4,5,6,7,8,9)
for i in l:
    print(i)

1
2
3
4
5
6
7
8
9

In [32]:
l={1,2,3,4,5,6,7,8,9}
for i in l:
    print(i)

1
2
3
4
5
6
7
8
9

In [33]:
string1="Sujeet"
for i in string1:
    print(i)

S
u
j
e
e
t

In [36]:
d={"name":"Sujeet", "Surname":"Amberkar"}
for i in d.keys():
    print(d[i])

Sujeet
Amberkar

In [37]:
for i in d.values():
    print(i)

Sujeet
Amberkar

In [39]:
for i in d.items():
    print(i)

('name', 'Sujeet')
('Surname', 'Amberkar')

In [47]:
stri="Sujeet Amb"
stri.center(33)

'            Sujeet Amb           '

In [48]:
stri.title()

'Sujeet Amb'

In [50]:
"pwskills"[::-1].upper().replace("SLLIKSWP", "pwskills").islower()

True