In [1]:
def test():
    pass

In [3]:
def test1():
    print("This is my very first function")
test1()

This is my very first function

In [5]:
# In this case, we are returning a none type
# Null type cant be appended with string

def test1():
    print("This is my very first function")
test1() + "WOW"

This is my very first function

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [7]:
def test2():
    return "This is my very first return"
temp=test2() + " Sujeet"
print(temp)

This is my very first return Sujeet

In [9]:
# In Python we can return many variables at time by a function
def test3():
    return 1,2,3,4,5
a,b,c,d,e=test3()
print(a,b,c,d,e)

1 2 3 4 5

In [10]:
# Passing arguments to a function
def test3(a,b):
    return (a+b)/2
var=test3(3,4)
print(var)

3.5

In [11]:
def test3(a,b):
    return (a+b)

print(test3(3,5))
print(test3(3.5,4.2))
print(test3("Sujeet ","Amberkar"))
print(test3([1,2,3,4,5],[0,0]))

8
7.7
Sujeet Amberkar
[1, 2, 3, 4, 5, 0, 0]

In [13]:
def returnNumbers(listInput):
    l1=[]
    l1=[i for i in listInput if type(i) == int or type(i) == float]
    return l1
l2=["Sujeet"," ",1,2,4,3.2]
l3=returnNumbers(l2)
print(l3)

[1, 2, 4, 3.2]

In [16]:
def test8(a):
    """
    This is a function to extract all numeric data 
    """
    l=[]
    for i in a:
        if type(i) == list:
            for j in i:
                if type(j) == int or type(j) == float:
                    l.append(j)
        if type(i) == int or type(i) == float:
            l.append(i)

    return l
l2=["Sujeet"," ",1,2,4,3.2,[0,0]]
print(test8(l2))

[1, 2, 4, 3.2, 0, 0]

In [21]:
def dynamicArguments(*args):
    # Everything is converted into a topule and now we can do anything what we want 
    return args
print(dynamicArguments(),type(dynamicArguments()))
print(dynamicArguments(1,2,43),type(dynamicArguments()))
print(dynamicArguments("Sujeet",type(dynamicArguments())))

() <class 'tuple'>
(1, 2, 43) <class 'tuple'>
('Sujeet', <class 'tuple'>)

In [28]:
def dymanic_args_mod2(*args,a):
    return args,a
dymanic_args_mod2(1,2,3,4,5, a=3)

((1, 2, 3, 4, 5), 3)

In [30]:
def dymanic_args_mod2(a,*args):
    return args,a
dymanic_args_mod2(3,1,2,3)

((1, 2, 3), 3)

In [31]:
def fun_W_Def_values(a,b,c=10,d=20):
    return a,b,c,d
fun_W_Def_values(1,2)

(1, 2, 10, 20)

In [32]:
fun_W_Def_values(1,2,3,4)

(1, 2, 3, 4)

In [34]:
def test10(**kwargs):
    """ Converts the input into a key value pair"""
    return kwargs
test10(a=[1,2,3,5],b=["Sujeet","Amberkar"])

{'a': [1, 2, 3, 5], 'b': ['Sujeet', 'Amberkar']}

In [4]:
# Generator function will keep giviing outcome one by one without storing in and then giving it in one go
def test_fibo(n):
    a,b=0,1
    for i in range (n):
        yield a
        a,b = b, b+a
data=test_fibo(10)
for i in data:
    print(i)

0
1
1
2
3
5
8
13
21
34

In [12]:
#lambda Function
# One Liner Function
# Anonomous function 
# Calling the function through the object (Variable)
n = 3
p = 4

def function ():
    return n ** p
print(function())

a= lambda n,p : n**p
print(a(3,4))

add= lambda a,b: a+b
print(add(2,3))

c_to_f= lambda c: (9/5)*c *32
print(c_to_f(43))

finding_Max= lambda x,y: x if x > y else y
print(finding_Max(6,7))

length_ofstring= lambda string1 : len(string1)
print(length_ofstring("PWSKILLS"))

81
81
5
2476.8
7
8

In [20]:
# Perform some operation with each and every element of the data set
l=[1,2,3,4,5,6,7,8,9]
# map(function,iterable)
def sq(a):
    return a**2

print(list(map(sq,l)))

print(list(map( lambda x: x**2,l)))

l1=[1,2,3,4,5,6,7,8,9]
l2=[10,20,30,40,50,60,70,80,90]
print(list(map(lambda x,y: x+y, l1,l2)))

string1="sujeet"
result = ''.join(map(lambda char: chr(ord(char) - 32), string1))
print(result)

s="amberkar"
list(map(lambda s: s.upper(),s))

[1, 4, 9, 16, 25, 36, 49, 64, 81]
[1, 4, 9, 16, 25, 36, 49, 64, 81]
[11, 22, 33, 44, 55, 66, 77, 88, 99]
SUJEET

['A', 'M', 'B', 'E', 'R', 'K', 'A', 'R']

In [25]:
from functools import reduce
l=[1,2,3,4,5,6,7,8,9]
# You can only give 2 parameters 
# Odd number of elements error 
print(reduce(lambda x,y:x+y,l ))

# Exeception case of Reduce 
print(reduce(lambda x,y:x+y,[3]))

print(reduce (lambda x,y:x*y,l))


print(reduce(lambda x,y: x if x > y else y, l))

45
3
362880
9

In [33]:
print(list(filter(lambda x : x % 2 == 0,l)))
print(list(filter(lambda x : x % 2 != 0,l)))
print(list(filter(lambda x : x > 5, l)))

list_S= ["suje","sujeet","abhi"]
print(list(filter(lambda st:  len(st) <6,list_S)))

[2, 4, 6, 8]
[1, 3, 5, 7, 9]
[6, 7, 8, 9]
['suje', 'abhi']